* {
    box-sizing: border-box;
    font-family: Averta, sans-serif;
    /*overflow: hidden;*/
    scroll-behavior: smooth;
  }
  body {
    margin: 0%;
    padding: 0%;
    font-family: Averta, sans-serif;
    width: 100%;
    height: 100vh;
  }
.mobile_image{
  display: none;
}
nav{
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: hsl(0, 33%, 95%);
    display: flex;
    justify-content: space-between;
    padding:20px;
  top: 0%;
  z-index: 5; 
}

.links{
display: flex;
gap: 20px;
text-decoration: none;
}
.links a{
    text-decoration: none;
    color: hsl(0, 4%, 22%) ;
}
.btn_1{
  width: 110px;
height: 30px;
background:linear-gradient(hsl(136, 65%, 51%),hsl(192, 70%, 51%)) ;
border-radius: 20px;
position: relative;
bottom: 10px;
border: none;
cursor: pointer;
}
.image{
  background-image: url(./images/bg-intro-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position:relative ;
  
}
.image img{
  width: 100%;
}
.content_1{
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.hero_section{
  direction:none ;
}
.section_2{
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  /* text-align: center; */
  padding: 20px;
}
.s{
  width: 50%;
  padding: 20px;
}
.s h1{
  width: 50%;
  font-size: 30px;
}
.s p{
  width: 50%;

}
.btn_2{
  width: 140px;
  height: 40px;
  background:linear-gradient(hsl(136, 65%, 51%),hsl(192, 70%, 51%)) ;
  border-radius: 40px;
  position: relative;
  border: none;
  cursor: pointer;
}

.items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vw;
}
.items_1, .items_2, .items_3, .items_4{
  width: 50%;
  height: 50%;
  line-break: strict;
  
}

@media screen and (max-width:670px) {
  .links{display: none;}
  .mobile_image{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    justify-content: center;
  }
  .content_1{
    display: grid;
  }

}